<%- include('partials/header') %>

<section id="services">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header">
              <span class="material-symbols-outlined services_icon">nephrology</span>
              <p class="services_title">Nefrologista</p>
            </div>
            <div class="card-body">
              <p class="card-text">Especialidade médica que se ocupa do diagnóstico e tratamento clínico das doenças do sistema urinário, em especial o rim..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <label class="valor">R$ 35,00</label>
                </div>
                <small class="text-muted">Duração: 20 mins</small>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" class="btn btn-primary">Contratar</button>
            </div>
          </div>
        </div>

       
        
      </div>
    </div>
  </div>


  <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->





</section>





<%- include('partials/footer') %>