.card-header {
  text-align: center;
}

.card-footer {
  text-align: center;
  background-color: #fff;
}

.card-footer button {
  width: 150px;
  margin: 10px;
}

.services_icon {
 font-size: 80px;
 border-radius: 40%;
 background-color: #fff;
}

.services_title {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.valor {
  font-size: 22px;
}